*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans KR';
  font-weight: 200;
}

:root {
  --calendar-size: 300px;
  --calendar-nav-color: forestgreen;
  --calendar-day-color: #C4C4C4;
  --calendar-disabled-color: #CCCCCC;
  --calendar-sunday-color: red;
  --calendar-currentday-color: green;
}

.calendar {
  width: var(--calendar-size);
  height: calc(var(--calendar-size)*1.2);
  border-radius: 10px;
  box-shadow: 0px 0px 10px gray;
}

.calendar-nav {
  width: 100%;
  height: 16%;
  display: flex;
  justify-content: space-between;
  border-radius: 10px 10px 0px 0px;
  background-color: var(--calendar-nav-color);
  color: white;
  text-align: center;
}

.calendar-nav .prev-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' style='fill: rgba(255, 255, 255, 1);transform: ;msFilter:;'%3E%3Cpath d='m4.431 12.822 13 9A1 1 0 0 0 19 21V3a1 1 0 0 0-1.569-.823l-13 9a1.003 1.003 0 0 0 0 1.645z'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: center;
  cursor : pointer;
}

.calendar-nav .current-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.calendar-nav .current-date .current-month {
  font-size: 15px;
}

.calendar-nav .current-date .current-year {
  font-size: 10px;
}

.calendar-nav .next-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' style='fill: rgba(255, 255, 255, 1);transform: ;msFilter:;'%3E%3Cpath d='M5.536 21.886a1.004 1.004 0 0 0 1.033-.064l13-9a1 1 0 0 0 0-1.644l-13-9A1 1 0 0 0 5 3v18a1 1 0 0 0 .536.886z'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: center;
  cursor : pointer;
}

.calendar-grid {
  text-align: center;
  height: 84%;
}

.calendar-grid .calendar-day {
  width: 100%;
  height: 15%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  color: var(--calendar-day-color);
  font-size: 12px;
}

.calendar-grid .calendar-date {
  width: var(--calendar-size);
  height: 85%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-size: 12px;
}

.calendar-grid .calendar-date .day:nth-child(7n-6) {
  color: var(--calendar-sunday-color);
}

.week {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor : default;
}

.day {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor : pointer;
}

.prev-day {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--calendar-disabled-color);
  cursor : pointer;
}

.next-day{
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--calendar-disabled-color);
  cursor : pointer;
}

.today-mark {
  border: 1px solid var(--calendar-currentday-color);
  border-radius: 50%;
  border-width: 70%;
}

.day:hover{
  background-color:seagreen;
  border-radius: 50%;
  color : white;
  transition: background-color 0.3s;
}

.prev-day:hover{
  background-color:seagreen;
  border-radius: 50%;
  color : white;
  transition: background-color 0.3s;
}

.next-day:hover{
  background-color:seagreen;
  border-radius: 50%;
  color : white;
  transition: background-color 0.3s;
}